*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  /* Highlight color */
  --color-main-highlight: #8A4FFF;
  /* Job View Overlay */
  --color-morph-light: #FFF9F7;
  --color-morph-dark: rgba(6, 7, 14, .11);
  --color-jobView-overlay:hsla(233, 40%, 4%, .95);
  /* Menu Overlay*/
  --color-menu-overlay: hsla(233, 40%, 4%, .95);
  /* Navbar*/
  --color-navbar: hsl(280, 6%, 15%);
  /* Main 🎨  */
  --color-main-dark: #06070E;
  --color-main-light: #FFF9F7;
  --color-main-danger: #FF312E;
  --color-main-success: #0CCE6B;
  /* Link colors */
  --color-main-link: hsla(260, 100%, 60%, 1);
  --color-main-link-hover: hsla(260, 100%, 63%, 1);
  /* Table colors */
  --color-table-accent: hsl(280, 6%, 15%);
}

